h1{
    font-family: 'Monsterrat';
    font-size: 50px;
    color: palevioletred;
}

#quote{
    width: 50%;
    height: auto;
    align-self: center;
}

.card{
    color: powderblue;
}

h5{
    color: violet;
}