/* navbar */
.navbar-default {
  background-color: lightpink;
  border-color: rgb(236, 204, 227);
}

navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: lightblue;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: lightblue;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: lightblue;
}

#photo {
  max-width: 75%;
  height: auto;
  align: margin-left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-md-4 {
  font-size: 30px;
  font-family: fantasy;

}

.bio {
  margin-top: 40%;
}
#data {
  font-family: cursive;
  font-size: 20px;
}

#senbud {
  margin-top: 50%;
}
.col-md-12 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  padding-top: 10%;
}

body {
  background-color: lavenderblush;
}
.home {
  background-image: url(https://i.pinimg.com/564x/04/36/65/0436659b89e03575e4b59d9ad2afa499.jpg);
}

#quote {
  padding-top: 0%;
  padding-left: 2%;
  padding-right: 2%;
  height: 50;
}
.main-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 500%;
  padding: 10%;
  font-style: strong;
}

.staff1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 350%;
  padding: 10%;
  font-style: strong;
}

.staff2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 350%;
  padding: 10%;
  font-style: strong;
}

input {
  width: 100%;
}

.register {
  color: lightsalmon;
}
@media only screen and (max-width: 1200px) {
  .two {
    background-color: pink;
  }

  .one{
    background-color: pink;
  }
  .main-title {
    font-family: "Courier New", Courier, monospace;
    font-size: 500%;
    padding: 10%;
    font-style: strong;
  }
  #senbud {
    margin-top: 0%;
  }
  #cgt {
    margin-top: 20%;
  }
}
