{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="{%static 'js/script.js' %}"></script>
    <link href="{% static 'css/s8.css' %}" rel="stylesheet" type="text/css">
</head>

<body class = "theme1" onload="myFunction()">
    <div id="loader" class="text-center">
    </div>

    <div style="display:none;" id="myDiv" class="animate-bottom">
    <div class = "row">
        <div class = "col-md-4">
            <button type="button"; id="changetheme"; class = "btn btn-danger";>Change Theme</button>
        </div>
        <div class = "col-lg-4">
            <div class = "row">
                    <h1>Oristania Wahyu Nabasya</h1>
            <div class = "row">
                    <div id="accordion" style="height:auto;">
                            <h3><strong>Aktivitas</strong></h3>
                            <div class="text-acc">
                              <p>
                              Aktivitas saya hari ini:
                              <ul>
                                 8.00 - 8.50  : fisika dasar<br>
                                 13.00 - 14.40 : lab PPW<br>
                                 16.00 - 16.50 : administrasi bisnis<br>
                                 17.00 - 19.40 : lab SDA
                              </ul>
                              </p>
                            </div>
                       
                            <h3><strong>Pengalaman Organisasi/Kepanitiaan</strong></h3>
                            <div class="text-acc">
                              <p>
                              Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                              purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                              velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                              suscipit faucibus urna.
                              </p>
                              
                              
                            </div>
                       
                            <h3><strong>Prestasi</strong></h3>
                           <div class="text-acc">
                              <p>
                              Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                              Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                              ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                              lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                              </p>
                            </div>
                         </div>
                
                        </div>
            </div>
            </div>
      
        </div>
    </div>
    
    

</body>