{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</head>


<body>
<title>Abstract</title>
        <div class = "row nav">
            <div class = "col-4 home" ><h1>Home</h1></div>
            <div class = "col-4"><h1 href="gallery.html">Gallery</h1></div>
            <div class = "col-4"><h1 href="#">About</h1></div>    
        </div>   
    



</body>


</html>