{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story10css.css' %}">
	<title>Subscribe to Nasyi!</title>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>
<body>
	<div class="container" style="font-family: 'Signika', sans-serif;">
		<h1 class="text-center">Subscribe to Nasya!</h1>
		<div class="row m-5">
			<div class="col-md-4"></div>
			<div class="col-md-4" id="subs_form">
				<form>
					{% csrf_token %}
					{{ message_form }}
					<br>
				</form>
				<button id="submit" class="btn btn-dark" type="submit">Subscribe!</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
    <script src="{%static 'js/story10js.js'%}"></script>
</body>
</html>
