
{% include 'nav1.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 6</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <section name="form">
        <h2>Hello, Apa Kabar?</h2>
        <form id="form" method="POST" action="{% url 'mystatus' %}">
            {% csrf_token %}
            {{ form }}  
            <br>
            <button type="submit" class="btn btn-default" id="submit">Submit</button>
        </form>
    </section>

    <table class="table">
        <thead>
            <th>Status</th>
            
        </thead>
        <tbody>
            {% for i in stat %}
            <tr>
                <td> {{i.my_status}} </td>
                <td>{{i.date}}</td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>

    

</body>