body {
    background-image: url("https://image.ibb.co/m9PraL/55d15b256828ee78d3198399b73ea979.jpg");


}

.nav {
    font-family: 'Indie Flower', cursive;
    font-size: 50%;
    color:  #b2e1c8;
    text-shadow: 50%;
    margin-top: 250px;
    margin-left: 50px;
}


.home {
    padding-left: 5%
}

.gallery{
    background-color: #b2e0e1;
}