h1{
    font-family: 'Monsterrat';
    font-size: 50px;
    color: palevioletred;
}

#quote{
    width: 50%;
    height: auto;
    align-self: center;
}

.card{
    color: powderblue;
}

#accordion{
    color: indianred
}

h5{
    color: darksalmon;
}

.theme1{
    background-color:lightpink;
}