#subs_form{
    background-color: rgb(238,225,255); /* Fallback color */
    background-color: rgb(196,141,132);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.container{
	padding-top: 50px;
}
