{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
        
    
        <title>Books</title>
    
        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="{% static 'css/story9css.css' %}" rel="stylesheet">
      </head>

<body>

  {% csrf_token %}

    <main role="main">
        {% if user.is_authenticated %}
                   <p class="display-4">Hello, {{ user.username }}</p>
        {% else %}
                   <a class="lead" href="{% url 'login' %}">Log in</a>
        {% endif %}

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="ml11">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters">Let's read books.</span>
              </span>
              <input id="input" type="text" name="search" placeholder="Search.."><button id = "search" ><i class = "fa fa-search"></i></button>
            </h1>
            <a href="logout">Log Out</a>
          </div>
        </div>
  
      </main>
      <br>
      <div class = "row container-fluid my-4">
      <div class="col-md-12">
          <p id="counter" class="numbers" text-align = "right">0</p>
        <img class="star" src="https://preview.ibb.co/eC6w20/static-yellow-star.png" alt="static-yellow-star" align ="right">
      </div>
    </div>
      <br><br>
      <main role="main" class="container">

        <div class="starter-template">
          <h1 class = "table-heading">Highlight of the month</h1>
        
    <br> <br>

        </div>
        <div class = container>
            <div class = "col-md-6">
        <div class =  "table">
            <table id="tabel" style = "width:50%; margin: 0px auto;">
              <thead>
                <tr>
                    <th>No</th>
                    <th></th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Published Date</th>
                    <th>Add to Favourites</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
              <!-- {% for book in books_list.items %}
            <tr>
            <td class="title">{{ book.volumeInfo.title }}</td>
            <td class="author">{{ book.volumeInfo.authors.0}}</td>
            <td class = "published-date">{{ book.volumeInfo.publishedDate }}</td>
            <td class = "favourite">
                <img class = "blank-star" src ="{% static 'black star.png' %}" alt ="blank star" align = "center">
            </td>
            {% endfor %}
            
            </tr>  -->
        </table></div>
        </div>
      </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src = "{% static 'js/searchbook.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

  

</body>
</html>
