<!DOCTYPE html>
<html>
<head>
	{%load static%}
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="{% static 'searchbook.js' %}"></script>
</head>
<body style="background: linear-gradient(to bottom, #66ffcc 0%, #ff99cc 100%); margin-top: 3%;">
	<div class="container">
		<div row>
    	<div class="col-sm-12">
    		<h2 id="fav"><i class='fa fa-star'style = 'color : #DA70D6'></i> 0 </h2>
    	</div>
    	  <div class="table-responsive">          
    	  	<table class="table" id="result" style="">

    </table>
</div>
</body>
</html>