<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    
    {% block title %} Daftar Member {% endblock %}
    
    
    <table class="table">
        <thead>
            <th>User Name</th>
        </thead>
        <tbody>
            {% for i in daftar_user %}
            <tr>
                <td> {{i.username}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>
    </form>
    
 


</body>