{%load static%}
{% include 'Navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'story3css.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
      <div id="two">
      <div class="staff1 col-md-6">Sebagai Staff Departemen Seni Budaya BEM Fasilkom....
         <img id="senbud" src="https://image.ibb.co/bBGCGe/Screen_Shot_2018_09_19_at_6_24_49_PM.png"> </div>
      <div class="staff2 col-md-6"><img id="cgt" src="https://image.ibb.co/cYc8NK/Screen_Shot_2018_09_19_at_6_26_02_PM.png">
    <br><br><br>Sebagai Staff Acara CGT 25...</div>
          
</body>