{%load static%}
{% include 'Navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'story3css.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="home">
      <div id="two"></div>

      <div class="row">
        <div class="col-lg-6">
          <img id="quote" src="https://i.pinimg.com/564x/56/4b/cc/564bcc4c8883022438b747b47e026e71.jpg">
        </div>
        <div class="main-title col-lg-6">
              Welcome to my site!
        </div> 
      </div>
      
      
      


</body>