{%load static%}
{% include 'Navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'story3css.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    
    {% block title %} My Schedule {% endblock %}
    
    
    <table class="table">
        <thead>
            <th>Nama Kegiatan</th>
            <th>Hari</th>
            <th>Tanggal/Waktu</th>
            <th>Tempat</th>
            <th>Kategori</th>
        </thead>
        <tbody>
            {% for i in jadwal_respon %}
            <tr>
                <td> {{i.nama_kegiatan}} </td>
                <td> {{i.hari}} </td>
                <td> {{i.tanggal}} </td>
                <td> {{i.tempat}} </td>
                <td> {{i.kategori}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>
    <a href="Delete" class="button">Delete All</a>
    </form>
    
 


</body>