{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'story3css.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
      <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="Home.html">Home</a></li>
            <li><a href="Profile.html">Profile</a></li>
            <li><a href="Experience.html">Experience</a></li>
            <li><a href="Register.html">Register</a></li>
            <li><a href="myForm.html">Add Schedule</a></li>
            <li><a href="mySchedule.html">Schedule</a></li>
          </ul>
        </div>
        </nav>

    </body>