{%load static%}
{% include 'Navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'story3css.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
      <div id="one">
      <div class="col-md-4"><img id="photo" src="https://preview.ibb.co/gfENFK/S_9519107.jpg" /><br><img id="track" src="https://preview.ibb.co/dsz9Be/Screen_Shot_2018_09_19_at_1_11_50_PM.png"/> </div> 
      <div class="col-md-4" style= "color:lightsteelblue" >Hello! My Name is Nasya! <div id="data" style="color:rosybrown"><br>Date of Birth: <br>09-03-1999 <br>
        Bio: im a 19 years old girl who love to sleep hehe<br>blalaalalalalalalala</div> </div> </div> 
        <div class="col-md-3"><img id="sosmed" src="https://image.ibb.co/mSWdMe/Screen_Shot_2018_09_19_at_1_42_59_PM.png" ></div>
                                                                                                      
                                                                                                                                                                                                                                               
        

      
      </div>
</body>
</html>
