{%load static%}
{% include 'Navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'story3css.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
      <div id="two">

      <div class="col-md-6">
      <h1>REGISTER ACCOUNT</h1>
      <form>
            Name:<br>
            <input type="text" name="Name">
            <br>
            Date of Birth:<br>
            <input type="date" name="date of birth">
            <br>
            Email:<br>
            <input type="email" name="email">
            <br>
            User Name:<br>
            <input type="text" name="Enter Username">
            <br>
            Password: <br>
            <input type="password" name="Enter Password">
            <br>
            Password Confirmation: <br>
            <input type="password" name="Enter Password">
            <br><br>
            <input class="register" type="submit" value="Register">
        </form>
    </div>

</body>
